<div class="modal fade" id="example2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="/edit/<%- info[0].id%>" method="post">


                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" value="<%- info[0].name %>" required />
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Email</label>
                        <input type="Email" class="form-control" name="email" value="<%- info[0].email %>" required />
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Phone Number</label>
                        <input type="number" class="form-control" name="number" value="<%- info[0].phone_number %>"
                            required />
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>


                </form>


            </div>

        </div>
    </div>
</div>